@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    font-family: Inter, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
